.card {
  width: 176px;
  height: 176px;
  background: url("../../../assets/people.jpg");
  background-repeat: cover;
  border: 1px solid rgba(86, 61, 124, .2);
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
